.card {
  //<li
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  list-style: none;
  margin: 0px auto 70px;
  // margin-bottom: ;
  max-width: 900px;
}

.card__link {
  //<a
  text-decoration: none;
  color: #212121;
}

.card__title {
  //h2>
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 48px;
  margin: 10px auto 20px;
}

.card__wrapper {
  //div
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
  margin: 20px 30px 0px 30px;
  padding: 0px;
  list-style: none;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.card__capital {
  //p
}

.card__population {
  //p
}

.card__list {
  //ul
  position: relative;
  margin: 0px 0px 0px 40px;
  list-style: disc;
  padding: 0px;
}

.card__item {
  text-decoration: none;
  margin: 5px 0px;
}

.card__image {
  width: 640px;
}
