{{!-- {{#each this}} <li class="menu__item">
    <a href="{{url}}" target="_blank" rel="noopener noreferrer">
        <p>{{name}}</p>
    </a>
</li> {{/each}} --}}

<li class="card">
    <a href="{{url}}" target="_blank" rel="noopener noreferrer">
        <p>{{name}}</p>
    </a>
</li>